<nav>
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/about">About</a></li>
    <li><a href="{{ site.baseurl }}/category/threat-hunting">Threat Hunting</a></li>
    <li><a href="{{ site.baseurl }}/category/threat-investigation">Threat Investigation</a></li>
    <li><a href="{{ site.baseurl }}/category/emerging">Emerging Threats</a></li>
    <li><a href="{{ site.baseurl }}/category/cyber-news">Cyber News</a></li>
    <li><a href="{{ site.baseurl }}/category/soc">SOC</a></li>
    <li><a href="{{ site.baseurl }}/category/resources">Resources</a></li>
  </ul>
</nav>
